body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

picture img {
	max-height:400px;
    width:90%;
}

section img{
	max-height:400px;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

header {
    background-image: url("movie_background.jpg");
    background-size: cover;
    height: 150px;
    color: white;
    padding: 20px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.content {
    padding: 40px;
    max-width: 900px;
    margin: auto;
    background: white;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
  }


.movie_title {
    width: 24%;
} 

footer {
    margin-top: 30px;
    padding: 10px;
    background: #222;
    color: white;
}


@media (max-width: 768px) {
    .data-container {
        flex-direction: column;
        align-items: center;
    }

    .analysis-flex {
        flex-direction: column;
        align-items: center;
    }

    .nav-menu {
        flex-direction: column;
        text-align: center;
    }

    .form-flex input, .form-flex button {
        width: 100%;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c4c4c4;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.main aside {
        float:right;
@media (max-width:1203px) { 
    .main {
        display:-webkit-flex;
        display:flex;
        -webkit-flex-direction:column;
        flex-direction:column;
    }
    .main article {
        -webkit-order:1;
        order:1;
    }
    .main aside {
        -webkit-order:2;
        order:2;
        float:initial;
        width:initial;
    }
}

p img{
	min-width:20px;
	min-height:20px;
}

.animation {

  animation-duration: 3s;
  animation-name: slide-in;
  animation-iteration-count: infinite;
}

@keyframes slide-in {
  from {
    translate: 0 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}
}